

.LoginButton {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 50px;
  color: #fff;
}



.LoginButton {
  padding: 6px 24px;
  border: 2px solid #fff;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
}

.LoginButton:active {
  transform: scale(0.98);
}

.LoginButton:hover {
  background-color: black;
}



