/********** Template CSS **********/

:root {
    --primary: #FEA116;
    --light: #F1F8FF;
    --dark: #0F172B;
  }
  
*{
    font-family: "Montserrat", sans-serif;
}
.BackgroundColor{
    background-color: #FEA116 ;
}
.fontColor{
    color: #FEA116 ;
}
.fontFamily{
    font-family: "Montserrat", sans-serif;
}
.fontWeight{
    font-weight: 700;
}
.BlackColor{
    color: #0F172B;
}




 
